<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10">
      <div id="calendar"></div>
    </div>
    <div class="col-xs-2">
      <h4>Utilizados Recentemente</h4>
      <div id="projects-recents"></div>

      <h4>Projetos Ativos</h4>
      <input name="search" placeholder="Buscar..." autocomplete="off">
      <div id="projects"></div>

      <h4>Todos Projetos</h4>
      <div id="projects-closed"></div>

    </div>
  </div>
</div>

<div id="view-dialog" title="Info">
    <input type="hidden" class="view-dialog-id" />
    <div class="view-dialog-project">Projeto: <span></span></div>
    <div class="view-dialog-subproject">SubProjeto: <span></span></div>
    <div class="view-dialog-phase">Fase: <span></span></div>
    <div class="view-dialog-client">Cliente: <span></span></div>
    <div class="view-dialog-hour"><span></span></div>
</div>