<div class="nested-fields col-xs-11 col-xs-offset-1">
  <% if f.object.new_record? %>
      <h2>Fase</h2>
      <%= f.association :phase, collection: Phase.order(:name) %>
  <% else %>
      <h2><%= f.object.phase.name %></h2>
  <% end %>

  <%= f.input :estimated_hours %>
  <%= link_to_remove_association 'Remover', f, class: 'btn btn-danger' %>
</div>
